MassiveTest.Wcf.Client/Service References/FEOriented/Client.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MassiveTest.Wcf.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MassiveTest.Wcf.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Graphs/Client.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfNodeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NodeInfo" nillable="true" type="tns:NodeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNodeInfo" nillable="true" type="tns:ArrayOfNodeInfo" />
  <xs:complexType name="NodeInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AdjacentNodes" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NodeInfo" nillable="true" type="tns:NodeInfo" />
</xs:schema>