MassiveTest.Wcf.Client/Service References/MassiveTest.DataManagementService/DataManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Graphs/Data.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Graphs/Data.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Graphs/Data.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/Graphs/Data.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MassiveTest.Interface" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataManagementService_AddNode_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNode" />
  </wsdl:message>
  <wsdl:message name="IDataManagementService_AddNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNodeResponse" />
  </wsdl:message>
  <wsdl:message name="IDataManagementService_Clear_InputMessage">
    <wsdl:part name="parameters" element="tns:Clear" />
  </wsdl:message>
  <wsdl:message name="IDataManagementService_Clear_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataManagementService">
    <wsdl:operation name="AddNode">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManagementService/AddNode" message="tns:IDataManagementService_AddNode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManagementService/AddNodeResponse" message="tns:IDataManagementService_AddNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Clear">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataManagementService/Clear" message="tns:IDataManagementService_Clear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataManagementService/ClearResponse" message="tns:IDataManagementService_Clear_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataManagementService" type="tns:IDataManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNode">
      <soap:operation soapAction="http://tempuri.org/IDataManagementService/AddNode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Clear">
      <soap:operation soapAction="http://tempuri.org/IDataManagementService/Clear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataManagementService">
    <wsdl:port name="BasicHttpBinding_IDataManagementService" binding="tns:BasicHttpBinding_IDataManagementService">
      <soap:address location="http://localhost/Graphs/Data.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>